.sprite{
    width: 10vw;
    height: 20vh;
}

#presenter{
    position: relative;
    top: 5.2vw;
    left: 5vw;
    width: 20vw;
    height: 30vh;
}

.textSize-3{
    font-size: 3vh;
}
.textSize-2{
    font-size: 2.3vh;
}

.borderPop{
    border-radius: 50px;
}

.walk{
    animation-name: walk;
    animation-duration: 1s;
}

.bubble{
    background:#fff;
    border-radius: 1vw;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-direction:column;
    flex-direction:column;
    margin-bottom: 2vh;
    text-decoration: none;
}
.answer{
    padding: 1% 1%;
    position: absolute;
    text-align: center;
    color: black;
    top: 15%;
    left: 25%;
    width: 45vw;
    height: 26vh;
    background-color: whitesmoke;
    border-radius: 1vw;
    box-shadow: 0.3vw 0.4vw rgba(156, 156, 156, 80);
}



.margins{
    position: fixed;
    bottom: -5%;
    left: 15%;
    right: 23%;
}

@keyframes walk {
    from{
        transform: translateX(-2000px);
    }
    to{
        visibility: visible;
        transform: translateX(0px);
    }
}

details{
    float: right;
    margin-right: 2vw;
    color: black;
    width: 15vw;
    cursor: pointer;
}

details > summary > img:hover{
    animation-name: pulse;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}

@keyframes pulse {
    0% {
     -webkit-transform:scaleX(1);
     transform:scaleX(1)
    }
    50% {
     -webkit-transform:scale3d(1.05,1.05,1.05);
     transform:scale3d(1.05,1.05,1.05)
    }
    to {
     -webkit-transform:scaleX(1);
     transform:scaleX(1)
    }
   }

details > summary > img{
    margin-left: 15%;
    margin-top: 10%;
}

details[open] ul{
    text-align: center;
    animation-name: fadeIn;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
}

.topicElementsList{
    background-color: #62718a;
    list-style: none;
    border-radius: 5px;

    
}
.topicElements:hover{
    border-radius: 10px;
    background-color: #465061;
}

details > summary {
    list-style: none;
}

.fadeIn{
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-timing-function: ease-in;
}

#postit{
    width: 80%;
    height: 80%;
}