.sprite{
    width: 10vw;
    height: 20vw;
}

.textSize{
    font-size: 3vh;
}

.walk{
    animation-name: walk;
    animation-duration: 1s;
}

.margins{
    position: fixed;
    top : 25%;
    left: 15%;
    right: 23%;
    border: solid;
}

@keyframes walk {
    from{
        transform: translateX(-2000px);
    }
    to{
        visibility: visible;
        transform: translateX(0px);
    }
}

details{
    float: right;
    margin-right: 2vw;
    color: black;
    border: solid;
    width: 15vw;
    cursor: pointer;
}

details > summary > img:hover{
    animation-name: pulse;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}

@keyframes pulse {
    0% {
     -webkit-transform:scaleX(1);
     transform:scaleX(1)
    }
    50% {
     -webkit-transform:scale3d(1.05,1.05,1.05);
     transform:scale3d(1.05,1.05,1.05)
    }
    to {
     -webkit-transform:scaleX(1);
     transform:scaleX(1)
    }
   }

details > summary > img{
    margin-left: 15%;
    margin-top: 10%;
}

details[open] ul{
    text-align: center;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-timing-function: ease-in;
}

.topicElementsList{
    background-color: #62718a;
    list-style: none;
    border-radius: 5px;

    
}
.topicElements:hover{
    border-radius: 10px;
    background-color: #465061;
}

details > summary {
    list-style: none;
}

.fadeIn{
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-timing-function: ease-in;
}

#postit{
    width: 80%;
    height: 80%;
}