.sprite{
    width: 13vw;
    height: 23vh;
    cursor: url(question.cur), pointer;
}

#source{
    color: whitesmoke;
    font-size: 4em;
    position: absolute;
    bottom: 1vh;
    right: 5vw;
}

#presenter{
    position: relative;
    top: 9.8vh;
    left: 5vw;
    width: 20vw;
    height: 30vh;
}

#postit{
    position: absolute;
    top: 14vh;
    right: 5.2vw;
    width: 20vw;
    height: 30vh;
    cursor: pointer;
}

#postit:hover{
    animation-name: buttonTopic;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

#label{
    font-size: 3.5vh;
}

@keyframes buttonTopic {
    from{
        transform: scale(100%);
    }
    to{
        transform: scale(110%);
    }
}

.topic{
    text-align: center;
    position: absolute;
    color : #303742;
    left: 34.5vw;
    top:45vh;
    background-color : whitesmoke;
    border-radius: 2em;
    height: 10vh;
    width: 25vw;
    box-shadow: 0.22vw 0.3vh rgba(156, 156, 156, 80);
    padding: 0.5vh;

}

.textSize-3{
    font-size: 3vh;
}
.textSize-2{
    font-size: 2.3vh;
}

.borderPop{
    border-radius: 50px;
}

.walk{
    animation-name: walk;
    animation-duration: 1s;
}

.bubble{
    background: white;
    border-radius: 1vw;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-direction:column;
    flex-direction:column;
    margin-bottom: 2vh;
    text-decoration: none;
}

.devil{
    background: red; 
}
.answer{
    padding: 1% 1%;
    position: absolute;
    text-align: center;
    color: black;
    top: 15%;
    left: 25%;
    width: 45vw;
    height: 26vh;
    background-color: whitesmoke;
    border-radius: 1vw;
    box-shadow: 0.3vw 0.4vw rgba(156, 156, 156, 80);
}



.margins{
    position: fixed;
    bottom: -5%;
    left: 7%;
    right: 14%;
}

.max{
    max-width: 100%;
}

@keyframes walk {
    from{
        transform: translateX(-2000px);
    }
    to{
        visibility: visible;
        transform: translateX(0px);
    }
}

@keyframes pulse {
    0% {
     -webkit-transform:scaleX(1);
     transform:scaleX(1)
    }
    50% {
     -webkit-transform:scale3d(1.05,1.05,1.05);
     transform:scale3d(1.05,1.05,1.05)
    }
    to {
     -webkit-transform:scaleX(1);
     transform:scaleX(1)
    }
   }

.fadeIn{
    animation-name: fadeIn;
    animation-duration: 1s;
}




#alien{
    position: absolute;
    top : 0%;
    left : 25%;
    width: 40vw;
    height: 40vw;
    z-index: 100;
}
#satan{
    position: absolute;
    top : 10vh;
    left : 30vw;
    width: 40vw;
    height: 40vw;
    z-index: 100;
}
.hid{
    visibility: hidden;
}

.start{
    position: absolute;
    z-index: 100;
    width: 50%;
    height: 100%;
    background-color: #465061;
}

.start-text{
    position: absolute;
    top: 25vh;
    left: 15vw;
    right: 15vw;
    text-align: center;
    color: whitesmoke;
    font-size: 10vw;
    z-index: 101;
}

.start-left{
    left: 0px;
}
.start-right{
    right: 0px;
}

