body{
    background-color: #303742;
    color : whitesmoke;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    font-size: 4em;
    text-decoration-line: underline;
}
section{
    text-align: left;
    margin-left: 2vw;
}
h2{
    font-size: 2.5em;
    text-decoration-line: underline;
}

p{
    font-size: 1em;
    text-align: left;
}

a{
    text-decoration: none;
    color: rgb(108, 108, 223)
}